/*AUTH*/
#log-in{
    width: 112px;
    margin-left: 20px;
}

#reset-psw-email{
    width: 250px;
}

#reset-psw{

}

/*MONITORING EDIT*/
#uri-edit{
    float: left;
    margin-top: 31px;
    margin-left: 10px;
    width: calc(100% - 199px);
}

#elements{
    padding-left: 25px;
}

.element{
    font-size: 14px;
}

/*WEB SELECT CONDITION*/
.web-elements{
    list-style-type: square;
}

.web-element{
    font-size: 12px;
    padding-top: 18px;
    margin-left: 30px;
}

#select-condition-title{
    margin-top: 25px;
}

#only-content-checkbox{
    padding-top: 18px;
}

#select-condition-title-web{
    margin-top: 30px;
    margin-bottom: 25px;
}

/*WEB FILTERS*/
.required{
    color: red;
}

.filter-form{
    margin-bottom: 15px;
}

.filter-action{
    margin: 0px !important;
}
/* USER */
.user-details{
    margin-bottom: 25px;
}

#change-password{
    width: 170px;
}

/*INTERACTIVE JSON*/
.json-tab{
    height: 1px;
    width: 15px;
    float: left;
}

.json-element{
    float: left;
}

/*SELECT CONDITION*/
#select-condition p{
    margin-top: 10px;
    margin-bottom: 20px;
}

#select-condition{
    padding: 35px;
}

#select-condition h2{
    font-weight: bold;
}

#select-condition-form{
    padding: 20px;
}

.condition-type-input{
    margin-bottom: 20px;
}

#condition-input{
    padding-left: 30px;
}

/* MONITORIZATION LIST*/
.monitoring-element{
    padding: 15px;
    padding-left: 25px;
    margin-bottom: 15px;
}

.monitoring-element span{
    font-size: 17px;
    width: 95%;
}

.monitoring-element p{
    font-size: 12px;
    color: #888;
}

/*MONITORIZATION DETAIL*/
.monitoring-detail{
    padding-top: 35px;
    padding-right: 35px;
}

.monitoring-detail p,
#active-detail{
    margin-top: 25px;
}

#method-detail{
    margin-bottom: 5px;
    margin-top: 5px;
}

#header-detail,
#body-detail{
    display: block;
    width: 47%;
    float: left;
}

#header-detail {
    margin-right: calc(6%);
}

.scrollable-content-readonly{
    height: 200px;
    background: transparent;
    border-radius: 0.25rem;
    border: 1px solid rgb(209, 213, 219);
}

#active-detail{
    margin-bottom: 75px;
}

#active-detail button,
#active-detail span{
    float: left;
}

#active-detail button{
    margin-left: 10px;
    line-height: 7px;
    height: 24px;
}

#history-files {
    margin-top: 15px;
}

.detail-file td a{
    margin-left: 20px;
    color: #1a0dab;
    text-decoration: underline;
}

.view-file{
    margin-left: 40px !important;
}

.detail-file td a:hover{
    cursor: pointer;
    color: #7f0099;
}
.detail-file td{
    padding-top: 25px;
}

.field-selected{
    font-weight: bold;
    text-decoration: underline
}

/*Scrollable pre*/
pre {
    height: auto;
    max-height: 600px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

#start-monitoring{
    width: 112px;
}

#loaded-html{
    font-size: 12px;
}

#load{
    padding-top: 20px;
    padding-bottom: 20px;
}

#loaded-site{
    margin-top: 20px;
    width: 100%;
    max-height: 600px;
}

.monitoring-form{
    padding: 20px;
}

#api-method,
.url-form,
.uri-form{
    float: left;
}

#api-form textarea{
    height: 165px;
}

#api-optional{
    width: 95%;
    margin: 0px auto;
    margin-top: 20px;
}

#api-header{
    float: left;
    width: 47%;
}

#api-body{
    float: right;
    width: 47%;
}

.url-form{
    width:calc(100% - 222px);
}

.uri-form{
    width:calc(100% - 197px);
}

#api-method,
.monitoring-actions{
    margin-top: 24px;
}
/*
#data-checkbox-show,
#header-checkbox-show{
    visibility: visible;
}
*/
.monitoring-actions{
    float: left;
    margin-left: 5px;
}

.message-rounded{
    border-radius: 8px;
}

.visible-content{
    visibility: visible;
}

.hidden-content{
    visibility: hidden;
    height: 0px !important;
    width: 0px !important;
}

.check-box{
    margin-bottom: 20px;
}

.message-include{
    margin-bottom: 10px;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

#pagination{
    padding-top: 3rem;
}

#pagination-next,
#pagination-previous,
#pagination-numbers,
.pagination-number{
    display: inline;
}

#pagination-pages,
#pagination-showing{
    text-align: center;
}

#pagination-pages{
    margin-top: 10px;
}

#pagination-showing{
    margin-top: 35px;
}

#pagination-previous,
#pagination-next,
.pagination-number{
    padding: 10px;
    background: white;
    border: 1px solid rgb(209, 213, 219);
}

#pagination-next,
.pagination-number{
    border-left: 0px;
    padding-left: 13px;
}

#pagination-previous{
    padding-left: 14px;
    border-radius: 10px 0px 0px 10px;
}

#pagination-next{
    padding-right: 14px;
    border-radius: 0px 10px 10px 0px;
}

.current-page,
.pagination-number a:hover,
#pagination-previous a:hover,
#pagination-next a:hover{
    color: #777;
}

/*SPIN*/
#load-spin-api,
#load-spin-html{
    float: right;
    text-align: center;
}

#load-spin-html{
    width: 112px;
}

#load-spin-api{
    width: 72px;
}

@keyframes ldio-i865r5puluh {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-i865r5puluh div {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 10px solid #3b82f6;
    border-top-color: transparent;
    border-radius: 50%;
}
.ldio-i865r5puluh div {
    animation: ldio-i865r5puluh 1s linear infinite;
    top: 50px;
    left: 50px
}
.loadingio-spinner-rolling-4kirkvc2qtx {
    width: 42px;
    height: 42px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}
.ldio-i865r5puluh {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.42);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-i865r5puluh div {
    box-sizing: content-box;
}
/* generated by https://loading.io/ */
